// Colors
$dark: #212221;
$gradient-dark: #0B0D0F;
$gradient-blue: #273248;
$grey: #707171;
$peach: #F9A375;
$green: #C0DC80;
$blue: #82C9FC;
$orange: #FCB146;
$light-grey: #A9A8A8;
$purple: #868FCC;
$purple-light: #9CA4E2;
$black: #000;
$white: #FFF;

// Tint color
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

// Shade color
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

// Typo
$heading-font: coolvetica, sans-serif;
$font: coolvetica, sans-serif;

// Space
$space-sm: 10px;
$space-md: 20px;

// Border radius
$border-radius-sm: 6px;
$border-radius-md: 12px;