// Colors
$dark: #212221;
$gradient-dark: #0B0D0F;
$gradient-blue: #273248;
$grey: #707171;
$peach: #F9A375;
$green: #C0DC80;
$orange: #FCB146;
$light-grey: #A9A8A8;
$black: #000;
$white: #FFF;

// Typo
$heading-font: coolvetica, sans-serif;
$font: coolvetica, sans-serif;