html {
  font-size: 16px;
}

body {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: linear-gradient(0.5turn, #1B1E24, #242832, #222326);
  color: $white;
}

::-webkit-scrollbar { 
  display: none; 
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  font-family: $heading-font;
  font-weight: 500;
  font-style: normal;
}

input {
  font-family: Arial;
  font-weight: 900;
  height: 100%;
  width: 100%;
  border: none;

  &:focus {
    outline: none;
    border: none;
  }

  &:active {
    border: none;
  }
}

button {
  border: none;
  color: inherit;
  background: none;
  padding: 0;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  
  &:active,
  &:focus {
    border: none;
    outline: none;
  }
}

.button {
  padding: 10px 20px;
  border-radius: 6px;
}

img {
  width: 100%;
  height: auto;
}