.site {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  height: 100vh;

  &__header {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    top: 0;
    z-index: 1;
    left: 0;
  }

  &__main {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex: 1 1 100%;
    margin-bottom: 60px;
  }

  &__content {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100vw;

    & .section__profile {
      margin-top: -100px;
    }
  }

  &__footer {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 60px;
  }
}

.section {
  position: relative;
  overflow: hidden;
}

.container {
  padding: 10px 20px;
}